.page-title {
  background: linear-gradient(
      rgba(52, 136, 198, 0.09),
      rgba(52, 136, 198, 0.09)
    ),
    url("/assets/images/hero_bg.png") no-repeat;
  background-size: 100%;
  background-size: cover;
}
