<section>
  <app-widgets-hero [heroData]="hero"></app-widgets-hero>
  <div class="container py-20 mt-8">
    <h1 class="text-[2.5rem]/[53.32px] font-bold text-dark font-title text-center ">Our Events</h1>
    <div class="grid grid-cols-4 gap-y-40 gap-x-5 mt-8">
      @for (item of servicesAndEvents.cards ; track item) {
      <component-service-card [cardCover]="item.cardCover" [cardDesc]="item.desc" [cardTitle]="item.title"
        (btnClick)="oExploreClick()"></component-service-card>
      }
    </div>
  </div>
  <div class="mt-20">
    <app-widgets-event-form></app-widgets-event-form>
  </div>
</section>
