<section>
  <app-widgets-hero [heroData]="hero"></app-widgets-hero>
  <div class="container py-16 mt-8">
    <h1 class="text-[2.5rem]/[53.32px] font-bold text-dark font-title ">Make a Magical Event</h1>
    <div class="h-[35.5625rem] w-full mt-8 ">
      <app-widget-image-slider [slides]="slides" (btnExploreClick)="oExploreClick()"
        (btnOrderClick)="scrollToComponent('#myComponent')"></app-widget-image-slider>
    </div>
  </div>
  <div id="myComponent">
    <app-widgets-event-form></app-widgets-event-form>
  </div>
</section>
