.hero {
  background: linear-gradient(
      rgba(52, 136, 198, 0.09),
      rgba(52, 136, 198, 0.09)
    ),
    url("/assets/images/hero_bg.png") no-repeat;
  background-size: 100%;
  &__main {
    position: relative;
  }

  &__bg {
    width: 100%;
    object-fit: cover;
    height: 29rem;
  }

  &__cta {
    position: absolute;
    top: 0;
    left: 6rem;
  }
}

.app-underline {
  &::after {
    width: 100%;
    display: block;
    content: "";
    height: 0.188rem;
    border-radius: 0.5rem;
    background-color: #fff;
  }
  &__footer {
    &::after {
      width: 2.49144rem;
      display: block;
      content: "";
      margin-top: 0.25rem;
      height: 0.0625rem;
      border-radius: 0.5rem;
      background-color: #fff;
    }
  }
}
