<footer class="bg-dark  p-9 text-white  h-[19.438rem]">
  <div class="container h-full w-full">
    <div class="flex gap-32">
      <div class="  w-64 flex flex-col gap-2">
        <a href="/">
          <img class="w-28 h-auto" src="/assets/images/logo.png" alt="logo" loading="lazy" />
        </a>
        <p>Food is more than just sustenance; it’s an experience that brings people together. Our
          vision is to create memorable culinary experiences that delight the senses and celebrate life's special
          moments.</p>
      </div>
      <div class="w-64 flex flex-col gap-4">
        <h1 class="font-title text-2xl font-medium">Core Links</h1>
        <ul class="flex flex-col gap-2">
          <li>
            <a class="hover:text-orange transition-colors duration-200" routerLink="" routerLinkActive="footer-active"
              [routerLinkActiveOptions]="{exact: true}">Home
            </a>
          </li>
          <li>
            <a routerLink="/about-us" routerLinkActive="footer-active"
              class="hover:text-orange transition-colors duration-200 ">About
            </a>
          </li>
          <li>
            <a routerLink="/catering" routerLinkActive="footer-active"
              class="hover:text-orange transition-colors duration-200 ">Catering

            </a>
          </li>
          <li>
            <a routerLink="/events" routerLinkActive="footer-active"
              class="hover:text-orange transition-colors duration-200">Events
            </a>
          </li>
        </ul>
      </div>
      <div class="w-64 flex flex-col gap-4">
        <h1 class="font-title text-2xl font-medium">Contact</h1>
        <p>(+2) 01234567890</p>
        <p>EbaidCatering.com</p>
        <p>Cairo - Egypt</p>
      </div>
      <div class="w-64 flex-col gap-4">
        <h1 class="font-title text-2xl font-medium">Follow Us</h1>
        <div class="flex flex-wrap gap-4 mt-4">
          <img src = "/assets/images/icons/facebook.svg" alt="facebook"/>
          <img src = "/assets/images/icons/insta.svg" alt="insta"/>
          <img src = "/assets/images/icons/youtup.svg" alt="youtupe"/>
        </div>
      </div>
    </div>
  </div>
  <!-- end Container -->
</footer>
